language: python
python:
- '2.7'
install:
    - pip install -r requirements.txt
    - pip install -r requirements_test.txt
    - pip install python-coveralls
services:
    - elasticsearch
env:
- SETTINGS='config.TestConfig'
script: 
- source ./environment.sh
- source ./environment_test.sh
- py.test --cov searchapi tests/ --cov-report=term --cov-report=html
after_success:
  - coveralls
deploy:
  provider: heroku
  api_key:
    secure: VsLeTg541KCK5z33b4BkYEJvH/BswVZMutdy5bEuQI1UZTkx2VYCMDydT5OdaVbzjPSi8XKeu1KQhen0iQtGB4/P+YXgNElQKbwXovyQ+9HEa+L63mQIiiM0uREodSdF+UVSIuE8t6ssF4/mZnjw4i5l01EXI/4N6kzktAwEPfc=
  app: lr-search-api
  on:
    repo: LandRegistry/search-api
