-e git+https://github.com/Runscope/healthcheck.git@9d661a916f3ab630ae21e014758aa2f21fd40097#egg=healthcheck
aniso8601
blinker
elasticsearch
eventlet
Flask
Flask-RESTful
greenlet
gunicorn
itsdangerous
Jinja2
MarkupSafe
pytz
raven
six
urllib3
Werkzeug
wsgiref
